[submodule "MathStatistics"]
	path = MathStatistics
	url = https://github.com/AkimDjan/MathStatsMIPT
[submodule "ComputerVision/repo/MIPT_ML_CV"]
	path = ComputerVision/repo/MIPT_ML_CV
	url = https://github.com/AkimDjan/MIPT_ML_CV
